
body {
  background-color: #f8fbfd !important;
  font-family: "Poppins";
  font-style: normal;
  color: #495057 !important;
  overflow: hidden;
}

/* signup page css */
.navabrSignup {
  height: 50px;
  width: auto;
  background: #f2f7ff;
  margin-bottom: 5%;
}
.mainSignUp {
  width: 600px;
  height: 522px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.elips {
  margin: 8px;
}
.titleSignin {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}
.clr {
  background: #127bbf !important;
}
.reset-clr {
  color: #495057 !important;
}

@media only screen and (max-width: 600px) {
  .mainSignUp {
    width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .mainSignUp {
    width: 300px;
    height: 350px;
  }
}

/* reset password css */
.email-ipt {
  background: #f6f6f6 !important;
}

/* Dashbord css */

.d-sidebar {
  position: relative;
  background: #042467;
  color: #fff;
  /* width: 20%; */
  height: 100vh;
  transition: all 0.5s ease;
}
.d-main {
  padding: 0 !important;
  width: 100vw;
}
.d-navabr {
  height: 50px;
  width: auto;
  background: #f2f7ff;
  text-align: end;
}
.d-elips {
  margin: 8px;
  margin-left: 60px;
}
.d-containe {
  background-color: #fff;
  padding: 30px;
}
.p-admin {
  position: relative;
  /* margin-right: 15px; */
  border: 2px solid #1d7dbd33;
  border-radius: 50px;
}
.i-select {
  border: none;
  background-color: #f2f7ff;
  margin-right: 100px;
  padding-right: 8px;
  color: #8184a3;
  cursor: pointer;
}
.menu {
  color: #8191b3;
  font-size: 14px;
}
.add-car {
  font-weight: bold;
  color: #495057;
}

.apr {
  appearance: auto !important;
  background: #fbf9f9 !important;
  color: #8184a3 !important;
}
.insp {
  visibility: visible;
  color: #8184a3;
}
/* .notific {
  margin-top: 3px;
} */
.d-elipshide{
   visibility: hidden;
}

/* side bar resonsiv */

@media only screen and (max-width: 767px){
  .d-sidebar {
    position: absolute;
    width: 40% !important;
    height: 100%;
    z-index: 1;
    left: -260px;
  }
  .insp {
    visibility: hidden;
    position: absolute;
  }
  .p-admin {
    margin-right: 30px;
    margin-top: 5px;
  }
  .notific {
    margin-top: 5px;
  }
  .d-elips {
    margin-top: 5px;
    margin-left: 0;
  }
  .d-elipshide {
    visibility: visible;
    position: absolute;
    height: 50px;
    left: 0;
    margin: px;
    background: #042467;
    padding: 10px;
  }
  #click:checked ~ label .icon {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 450px) {
 
  #click:checked ~ label .icon {
    margin-left: 160px !important;
  }
  
}

.icon {
  font-size: 40px !important;
  margin-top: 6px;
  margin-left: 62px;
  transition: all 0.5s ease;
}
#click {
  display: none;
}
label .icon {
  position: absolute;
  cursor: pointer;
  text-align: center;
}

#click:checked ~ label .icon {
  margin-left: 260px;
}

#click:checked ~ .d-sidebar {
  left:0;
}


/* photos pages css */

.boximg{
  height: 150px;
  background:#D9D9D9;
  border-radius: 8px;
  margin-right: 3px;
  margin-top: 5px;
}
.pduplosdfile{
  padding: 2px 10px !important;
}
.clrpt{
  color: #8184A3;
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (max-width: 420px) {
  .boximg{
    height: 97px !important;
  }
}

.txtdeco{
  text-decoration: none;
  color: #fff;
}
.btnfinish{
  background-color:#042467 !important;
}
.clrSelct{
  background:#FBF9F9 !important;
  color: #8184A3 !important;
  border: none !important;
}

.containerSelect {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
.containerSelect input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 10px;
  bottom: -143px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.containerSelect input:checked ~ .checkmark {
  background-color:#1D7DBD;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

@media only screen and (max-width: 420px) {
 
  .checkmark {
    position:absolute;
    left: 8px;
    bottom: -92px;
  }
  
}

.logout{
 position: absolute;
}

.dropbtn {
  padding: 12px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  z-index: 1;
  left: 10px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
